.btn {
  margin: 2.5rem 0;
  border: none;
  background-color: #66ccaa;
  width: 160px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  text-transform: capitalize;
  transition: 0.3s;
  &:hover {
    transform: translateY(-12%);
  }
}